.main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.searchBarSection {
    background-color: var(--green-light);
    width: 100%;
    height: 30vh;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.searchBarHeading {
    padding-bottom: 2rem;
}

.searchBarInput {
    width: 40vw;
    padding: 1rem 2rem;

    font-size: 110%;

    /* border-radius: 1rem; */
    border: none;
    border-radius: 2rem;

    box-shadow: 0rem 0.1rem 1rem rgba(0, 0, 0, 0.2);

    /* transition: .3s border-radius; */
}

.searchBarInput:focus{
    outline: none;
}

.categoriesContainer {
    /* background-color: #333; */
    padding: 2rem 0;
    margin: 0 auto;

    width: fit-content;

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    gap: 2rem;

    flex-wrap: wrap;

    font-size: 2rem;
}
