:root{
    --nav-height: 7rem;
    --footer-height: 3rem;
    --min-main-height: calc(100vh - var(--nav-height) - var(--footer-height));

    --green-dark: #3a6e1f;
    --green-normal: #7AAD5F;
    --green-light: #DFEBD9;

    --blue-dark: #2D5FA6;
    --blue-normal: #90B8EF;
    --blue-light: #aecaf2;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  font-size: 1.4rem;
  font-weight: normal;

  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1{
  font-size: 2.4rem;
}
h2{
  font-size: 2.2rem;
}
h3{
  font-size: 2rem;
}

p{
  font-size: inherit;
}



button.btnGreen{
    padding: 1.25rem;
    background-color: var(--green-normal);
    border: none;
    color: #fff;
    font-weight: 600;
    letter-spacing: 0.15ch;

    box-shadow: .2rem .2rem .5rem rgba(0, 0, 0, 0.3);

    transition: background-color .3s;
}
button.btnGreen:hover{
    background-color: var(--green-dark);
}

button.btnRed{
    padding: 1.25rem;
    background-color: #da7b61;
    border: none;
    color: #fff;
    font-weight: 600;
    letter-spacing: 0.15ch;

    box-shadow: .2rem .2rem .5rem rgba(0, 0, 0, 0.3);

    transition: background-color .3s;
}
button.btnRed:hover{
    background-color: #c05436;
}

button.btnBlue{
    padding: 1.25rem;
    background-color: #53b5c9;
    border: none;
    color: #000;
    font-weight: 600;
    letter-spacing: 0.15ch;

    box-shadow: .2rem .2rem .5rem rgba(0, 0, 0, 0.3);

    transition: background-color .3s;
}
button.btnBlue:hover{
    background-color: #2f9fb6;
}