.pageContainer{
    max-width: 960px;
    min-height: var(--min-main-height);

    margin: 0 auto;
    
    display: grid;
    grid-template-columns: 35rem 1fr;
}

/* ---------- */

.variantBar{
    display: flex;
    flex-direction: column;
}

.variantBarHeader{
    width: 100%;

    display: flex;
    justify-content: space-between;
}

.variantBarList{
    display: flex;
    flex-direction: column;
}

.variantBarListItem{
    display: flex;
    padding: 1rem;

    /* tmp */
    border: 1px solid black;
    /* border-radius: 1rem; */
}
.variantBarListItem_active{
    background-color: var(--green-light);
}

.variantBarListItemContent{

}

.variantBarListItemPanel{

}

/* -------------------- */

.formContainer{
    display: flex;
    justify-content: center;
}

.form{
    width: 80%;
    margin: 0 auto;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.form label{
    width: 100%;
}

.form label p{

}

.form label input{
    width: 100%;
}

.formPriceBox{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}

.formParametersTable{

}
.formParametersTable > tr:nth-child(1){

}
.formParametersTable > tr:nth-child(2){
    background-color: var(--green-light);
}